body {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.text-result {
    font-size: 18px;
    font-weight: 600;
    padding: 25px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 45px;
    border: none;
    background-color: #111;
    color: #fff;
}

button:hover {
    background-color: #4997b5;
}

div.score {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 50px;
}

div.player {
    width: 40%;
    height: 100px;
    background-color: #eeeeee;
    border: 1px solid #111;
    border-radius: 10px;
}

.rounds-select,
.choice-btns {
    display: flex;
    justify-content: center;
    gap: 30px;
}